<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Rachel McElheny</title>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lora|Merriweather+Sans:300">
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
	<div class="container">
@@include("parts/splash.html")
@@include("parts/header.html")
@@include("parts/menu.html")
		<div class="container-inner">
@@include("sections/education.html")
@@include("sections/work.html")
@@include("sections/academic.html")
@@include("sections/skills.html")
		</div>
	</div>
	
	<script type="text/javascript" src="js/libs/jquery.js"></script>
	<script type="text/javascript" src="js/app/app.js"></script>
</body>
</html>