<div class="item">
	<div class="item-name">
		Dean's Case Challenge - Binghamton University School of Management
		<div class="item-name-location">
			Binghamton, NY
		</div>
	</div>

	<div class="item-position">
		Winner
		<div class="item-position-date">
			August 2014
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Collaborated with teammates to present pitch regarding Harvard Case Cottle-Taylor: Expanding the Oral Care Group in India</li>
			<li>Created market mix by predicting population growth and estimating future product shifts based on sale trends in other countries</li>
			<li>Placed 1<sup>st</sup> out of eleven teams of five School of Management freshman and transfer students</li>
		</ul>
	</div>
</div>