<div class="item">
	<div class="item-name">
		Dickinson Town Council
		<div class="item-name-location">
			Binghamton, NY
		</div>
	</div>

	<div class="item-position">
		Vice President of Public Relations - Johnson Hall
		<div class="item-position-date">
			September 2014 to present
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Improved student network by implementing social media outlets via creation of a Facebook page, Google Calendar, and Hall Webpage</li>
			<li>Created advertisements and weekly newsletter to encourage widespread participation in building and community events</li>
			<li>Facilitated improved communication and tracked mandatory participation by cataloging minutes and attendance at council meetings</li>
		</ul>
	</div>
</div>