<div class="item">
	<div class="item-name">
		Emerging Leaders Program
		<div class="item-name-location">
			Binghamton, NY
		</div>
	</div>

	<div class="item-position">
		Public Service Knowledge Community Member
		<div class="item-position-date">
			August 2014 to present
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Orchestrated donation drive, fundraiser, and on-site repair work with Rise, a local domestic violence shelter</li>
			<li>Contacted local organizations via phone and e-mail to form connections and to create a detailed plan for community service project</li>
		</ul>
	</div>
</div>