<div class="item">
	<div class="item-name">
		First Tech Challenge Robotics
		<div class="item-name-location">
			Corning, NY
		</div>
	</div>

	<div class="item-position">
		Lead Programmer
		<div class="item-position-date">
			May 2012 to May 2013
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Programmed autonomous and manual code in Robot C in a group setting to improve technical and interpersonal skills</li>
			<li>Achieved state level competition by frequently communicating progress and goals with hardware team</li>
		</ul>
	</div>
</div>