<div class="item">
	<div class="item-name">
		First Lego League Robotics
		<div class="item-name-location">
			Corning, NY
		</div>
	</div>

	<div class="item-position">
		Mentor
		<div class="item-position-date">
			September 2012 to December 2012
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Taught a team of ten middle school students programming and oral presentation skills weekly by encouraging teamwork and responsibility via individualized guidance plans</li>
			<li>Facilitated individual and team practice sessions and supervised ancillary material creation to assist in progression to state competition</li>
		</ul>
	</div>
</div>