<div class="item">
	<div class="item-name">
		Independent Volunteer Work
		<div class="item-name-location">
			Taiwan, Japan, United States
		</div>
	</div>

	<div class="item-position">
		Volunteer
		<div class="item-position-date">
			2007 - 2014
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Catalyzed reconstruction efforts in Tohoku, Japan following the March 2011 earthquake by deconstructing and cleaning out flooded houses in collaboration with BeOne Tohoku Aid</li>
			<li>Tutored special needs and ESL students ranging in age from eight to adult to encourage personal and academic development via individualized curriculums and study strategies</li>
		</ul>
	</div>
</div>