<div class="item">
	<div class="item-name">
		Corning Incorporated, Sullivan Park Research Facility
		<div class="item-name-location">
			Corning, NY
		</div>
	</div>
	<div class="item-position">
		Engineering Intern Level 3, Level 2, and Level 1
		<div class="item-position-date">
			Summers of 2012, 2013, 2014
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Created high-level models and submodels in ANSYS for multiple series of strict deadlines within large projects within mid-sized teams of PhDs to create both final products and templates for future work that are currently in use</li>
			<li>Obtained certification in ANSYS Workbench, ANSYS Fluent, and MATLAB by attending two week-long training sessions</li>
			<li>Performed extensive heat transfer data analysis in Excel and prepared samples for an on-site X-ray lab</li>
		</ul>
	</div>
</div>