<div class="item">
	<div class="item-name">
		Self-Employed Tutor
		<div class="item-name-location">
			Taichung, Taiwan &amp; Kobe, Japan
		</div>
	</div>
	<div class="item-position">
		Tutor
		<div class="item-position-date">
			October 2007 to January 2012
		</div>
	</div>

	<div class="item-body">
		<ul class="bullet-list">
			<li>Tutored 13 students from 8 different countries in advanced English grammar, math, science, and ESL for 8-10 hours a week</li>
			<li>Promoted strong study habits and improved academic performance by tailoring lesson plans to individual learning styles</li>
		</ul>
	</div>
</div>