<div class="item">
	<div class="item-name">
		Binghamton University, SUNY, School of Management
		<div class="item-name-location">
			Binghamton, NY
		</div>
	</div>

	<div class="item-position">
		Masters of Science in Accounting
		<div class="item-position-date">
			Expected May 2019
		</div>
	</div>

	<div class="item-position">
		Bachelor of Science in Accounting
		<div class="item-position-date">
			Expected May 2018
		</div>
	</div>

	<div class="item-body">
		PricewaterhouseCoopers Scholars Program &mdash; Top 10% of Incoming Freshman Class
	</div>
</div>