<div class="item">
	<div class="item-name">
		High Bridge Academy (High School)
		<div class="item-name-location">
			Big Flats, NY
		</div>
	</div>
	<div class="item-position">
		<ul class="separated-list">
			<li>GPA: 4.00/4.00</li>
			<li>SAT: 2400/2400</li>
			<li>National Merit Scholar</li>
		</ul>
		<div class="item-position-date">
			June 2013
		</div>
	</div>

	<div class="item-body">
		Esther W. Couper Scholarship (Full Tuition), Presidential Scholars Candidate (Top 0.067% SAT/ACT Performance), Tailhook Scholarship, SWE Scholarship, SCOP Literary Competition (Finalist)
	</div>
</div>