@media screen and (max-width: 767px) {
	.item {
		& > .item-summary, .item-position {
			flex-direction: row;
			flex-wrap: wrap;
		}

		& > .item-summary {
			& > .item-name {
				flex-grow: 1;
			}
			& > .item-location {
				flex-grow: 1;
				padding-left: 2rem;
				text-align: right;
			}
		}

		& > .item-position {
			& > .item-position-title {
				flex-grow: 1;
			}
			& > .item-position-duration {
				flex-grow: 1;
				padding-left: 2rem;
				text-align: right;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	//
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	//
}
