@media screen and (max-width: 543px) {
	ul.list {
		&.list-inline.list-inline-responsive {
			display: flex;
			flex-direction: column;

			& > li {
				&::after {
					display: none;
					content: none;
				}
			}
		}
	}
}
@media screen and (min-width: 544px) and (max-width: 767px) {
	//
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	//
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	//
}
